apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lab
  namespace: argocd
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    path: manifests/lab
    repoURL: https://github.com/ftzm/cluster.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
