apiVersion: v1
kind: Pod
metadata:
  name: storage-test
  namespace: storage-test
spec:
  containers:
  - command:
    - /bin/sh
    - -c
    - echo "Written at $(date)" >> /data/test.txt && cat /data/test.txt && sleep 3600
    image: busybox
    name: busybox
    volumeMounts:
    - mountPath: /data
      name: data
  volumes:
  - name: data
    persistentVolumeClaim:
      claimName: test-pvc
